<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand brand" href="#">
        <img src="/assets/logo.svg" alt="logo" style="width:40px;">
        <span class="link">Brighton Academy</span>
    </a>

    <!-- Links -->

    <ul class="navbar-nav ml-auto">
        <li>
            
            <div class="dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><span class="link">Mentor</span></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLinkActive="active" routerLink="mentor-signup">SignUp</a>
                    <a href="#" class="dropdown-item" routerLinkActive="active" routerLink="mentor-login">Login</a>
                </div>
                </div>
        </li>
        <li>
            
            <a class="nav-link" routerLinkActive="active" routerLink="signup"><span class="link">SignUp</span></a>
        </li>
        <li>
            
            <a class="nav-link" routerLinkActive="active" routerLink="login"><span class="link">Login</span></a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>

