<div class="container">
    <div class="heading">Trainer details</div>
    <div *ngFor="let t of trainer">
        <div class="card card-inverse card-color">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-2 col-lg-3"><img src="/assets/trainer3.png" class="card-img"></div>
                    <div class="col-md-10 col-lg-9">
                        <h3 class="card-title">{{t.name}}</h3>
                        <p class="card-text">Rating :{{t.rating}}</p>
                        <p class="card-text">Technology : <span class="badge badge-secondary mr-2">{{t.tech}}</span></p>
                        <a href="#" class="btn btn-primary btn-color mr-2">Propose training</a>
                        <a href="#" class="btn btn-primary btn-color" data-toggle="modal"
                            data-target="#exampleModal">View Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Trainer Profile</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <img src="/assets/trainer.png" class="float-left user-img">
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{t.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{t.name}}@gmail.com</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p>Java Full Stack Developer</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">Rating</label>
                            </div>
                            <div class="col-md-6">
                                
                                <p><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                </p>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">No. of Trainings completed</label>
                            </div>
                            <div class="col-md-6">
                                <p>12</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">Fee charges</label>
                            </div>
                            <div class="col-md-6">
                                <p><i class="fa fa-rupee"></i>10000</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="bold">Commission Charges</label>
                            </div>
                            <div class="col-md-6">
                                <p><i class="fa fa-rupee"></i>2000</p>
                            </div>
                        </div>

                        <button type=" button" class="btn btn-primary btn-color float-right">Propose Training</button>
                        <button type="button" class="btn btn-primary btn-color float-right mr-2"
                            data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>