.sidebar {
    background-color: #212529;
}

.sidebar a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    font-weight:500;
}

.sidebar a:hover {
    
    color: #818181;
}