
<div class="container margin">
    <div class="jumbotron col-lg-6 m-auto">
        <div class="jumbotron-content">
            <h1>User Sign-up</h1>
            <p class="jumbotron-lg-only">Sign up to create an account</p>
            <form name="user-sign-up">
                <div class="form-group"><label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter Fullname">
                </div>
                <div class="form-group"><label for="email">Username</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter email address">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <label for="password2">Confirm password</label><input type="password" id="password2" name="password2"
                        class="form-control" placeholder="Re-enter password">
                </div>
                <a href="#" class="btn btn-primary btn-large btn-color ">Sign-up</a>
            </form>
        </div>
    </div>
</div>
